<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Проверка</title>
</head>
<body>
<form action="/login" method="POST">
    <h1>Проверка</h1>
    <label for="surname">Фамилия:</label>
    <input type="text" id="surname" name="surname" placeholder="surname...">
    <label for="number">Номер телефона:</label>
    <input type="text" id="number" name="number" placeholder="number...">
    <input type="submit" value="Проверить">
</form>
</body>
